body,
html {
  overflow: hidden;
}


.container {
  background: #fff;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 855.115px;
  height: 600px;
  flex-shrink: 0;
  background: url("/images/about/IndexCardsCropped1.png") no-repeat center center;
  background-size: cover;
  position: relative;
  transition: transform 0.3s ease;
}

.arrowDiv {
  width: 60px;
  margin: 0;
  padding: 0;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  background-color: #029d7e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev, .leftHome {
  background: url("/icons/LeftArrowForSlayd.svg") no-repeat center center;
}

.next, .rightHome {
  background: url("/icons/RightArrowForSlayd.svg") no-repeat center center;
}

/* Disabled button styles */
.prev.disabled,
.next.disabled {
  background-color: #029D7E;
  pointer-events: none;
}

.mySlides .numbertext {
  color: #204165;
  font-family: Gaegu;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 60.9px */
  position: absolute;
  top: 53px;
  left: 67px;
  transition: transform 0.3s ease;
  transform: rotate(-2deg);
}

.mySlides .slideText {
  width: 636.862px;
  height: 375.638px;
  color: #204165;
  font-family: Gaegu;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 33.35px */
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  text-align: start;
  transition: transform 0.3s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.mobilArrow {
  display: none;
}


@media only screen and (max-width: 750px) {
  .container {
    position: relative;
  }

  .mainHeader {
    position: absolute;
    top: 27px;
    left: 30px;
    margin: 0;
    padding: 0;
  }

  .mainHeader h1 {
    width: 320.192px;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  .mainHeader h1 a {
    width: 159.615px;
    height: 50px;
    font-size: 16px;
  }

  .mainHeader .homeDiv {
    display: none;
  }

  main {
    position: absolute;
    top: 18px;
    left: 0;
    height: 100%;
  }

  .slideshow-container {
    position: absolute;
    width: 462.189px;
    height: 639.856px;
  }

  .arrowDiv {
    display: none;
  }

  .mySlides {
    width: 462.189px;
    /* background: url(/images/about/iStock.png) no-repeat center center; */
  }

  .mySlides .slideText {
    width: 305.505px;
    height: 281.37px;
    /* left: 66px; */
    font-size: 20px;
    line-height: 155%; /* 31px */
  }

  .mobilArrow {
    display: block;
    position: absolute;
    top: 70%;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 60;
  }

  .prevMobil {
    left: 24px;
  }

  .nextMobil {
    right: 24px;
  }

  .leftHome, .rightHome {
    display: none;
    background-color: #029D7E;
    height: 60px;
    width: 60px;
  }

   /* Mobil görünümde disabled buton */
   .leftHome.disabled,
   .rightHome.disabled {
     background-color: #029D7E;
     
   }

  .prev,
  .next {
    display: inline-block;
  }

  footer {
    z-index: 55;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  footer nav ul {
    display: flex;
    margin: 0;
    width: 370px;
    gap: 51px;
    align-items: center;
    justify-content: center;
  }

 
}


/* @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* @media only screen and (max-width: 750px) {

  .container {
    position: relative;
    overflow: hidden;
  }

  .mainHeader {
    width: 159.615px;
    height: 50px;
    padding: 0;
   
  }

  .mainHeader h1 {
    margin: 0;
    height: 100%;
    width: 160px;
  }

  .mainHeader h1 a {
    font-size: 16px;
  }
  .homeDiv {
    display: none;
  }
  .home {
    display: none;
  }

  main {
    position: absolute;
    top: 18px;
  }


 .slideshow-container {
  width: 462.189px;
  height: 639.856px;
 }


 .mySlides{
  background: url('/images/about/iStock.png') no-repeat center center;
  background-size: cover;
  width: 462.189px;
  height: 639.856px;
  position: absolute;
  top: 29.16px; 
  left: -36.73px; 
  transform-origin: 0 0;
 }

 

 .arrowDiv {
  z-index: 15;
}

  .prevDiv {
    position: absolute;
    left:24px;
    bottom: 65px;
  }

  .nextDiv {
    position: absolute;
    right:24px;
    bottom: 65px;
  }

  .mySlides .numbertext {
    width: 360.509px;
height: 52.564px;
font-size: 46px;
top: 80px;
left: 70px;
text-align: start;
  }

  .mySlides .slideText {
    width: 305.505px;
  height: 281.37px;
  font-size: 20px;
  line-height: 155%;
   }

  footer {
    z-index: 55;
    padding: 0;
  }

  footer nav ul {
    display: flex;
    align-items: flex-start;
    gap: 51px;
    width: 326px;
    height: 15px;
    padding: 0px 6.398px 24px 6.399px;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

} */
