.blueMode {
  background: url("/images/meetBliss/bgMeetBlissOr.jpg") no-repeat center center;
  background-size: cover;
}


.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 31px;
}

.videoContainer .videoTitle {
  font-size: 58px;
  font-family: "Gaegu";
  font-weight: 700;
  line-height: 63.8px;
  word-wrap: break-word;
}

.videoContainer .videoText {
  font-size: 23px;
  font-family: "Gaegu";
  font-weight: 400;
  line-height: 33.35px;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.commentContainer {
  display: flex;
  width: 837px;
  height: 313px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.recentContainer,
.leaveContainer,
.succesContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.noteAreaTitle {
  display: block;
  font-size: 23px;
  font-family: "Gaegu";
  font-weight: 400;
  line-height: 33.35px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.recentNotes {
  width: 346px;
  height: 272px;
  padding: 32px 16px 32px 24px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 1px rgba(31.82, 64.8, 100.78, 0.8) solid;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: relative;
  overflow-y: scroll;
  gap: 16px;
}

.recentNotes::-webkit-scrollbar {
  width: 24px; /* Scroll bar genişliği */
}

.recentNotes::-webkit-scrollbar-thumb {
  
  border: 8px solid transparent;
  
}

.recentNotes::-webkit-scrollbar-thumb {
  background-color:rgba(134, 149, 167, 0.50); /* Scroll bar rengi */
  border-radius: 50px;
  background-clip: content-box; /* İçerik kutusu ile uyumlu */
}

.recentNotes span {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  text-align: left;
}




.leaveContainer .name {
  width: 467px;
  height: 42px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: 1px rgba(31.82, 64.8, 100.78, 0.8) solid;
  padding: 0 12px;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin-bottom: 12px;
  color: #204165;
}

.leaveContainer .noteText {
  width: 467px;
  height: 148px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: 1px rgba(31.82, 64.8, 100.78, 0.8) solid;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  color: #204165;
  resize: none;
  overflow: auto; /* Allows overflow content to be scrollable */
}



.noteText::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
}

.noteText {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

.leaveContainer .noteBtnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0 7px;
}

.leaveContainer .noteBtnContainer button {
  width: 99px;
  height: 42px;
  text-align: center;
  color: #204165;
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
  line-height: 16.8px;
  letter-spacing: 1.44px;
  word-wrap: break-word;
  background: rgba(201.76, 221.57, 247.04, 0.5);
  border-radius: 8px;
  border: 1px rgba(31.82, 64.8, 100.78, 0.8) solid;
}



.leaveContainer .noteBtnContainer button:hover {
  background: #FEDDDE;
}

.succesContainer {
  display: none;
}

.succesNotes {
  width: 461px;
  height: 97px;
  padding: 13px;
  background: rgba(254, 221, 222, 0.7);
  border-radius: 8px;
  border: 1px rgba(31.82, 64.8, 100.78, 0.8) solid;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.succesNotes span {
  color: #CA6D70;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  text-align: left;
}

@media screen and (max-width: 750px) {
  .blueMode {
    background: url("/images/meetBliss/bgMeetBlisscrap.png") no-repeat left center;
    background-size: cover;
  }
  
  .sectionContainer {
    margin-bottom: 90px;
    margin-top: 90px;

  }

  .videoContainer {
    margin-bottom: 9.1px;
  }

  .videoContainer .videoTitle {
    font-size: 36px;
    line-height: 39.6px;
    margin-bottom: 8px;
  }

  .videoContainer .videoText {
    font-size: 19px;
    line-height: 23.18px;
    letter-spacing: 0.19px;
    margin-bottom: 6px;
  }

  .videoContainer .video video {
    width: 343px;
    aspect-ratio: auto 343 / 188.9;
    height: 188.9px;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: auto;
    margin-bottom: 0;
  }

  .recentContainer {
    margin-bottom: 8px;
  }

  .noteAreaTitle {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 0;
  }

  .recentNotes {
    width: 343px;
    height: 194px;
    padding: 16px 16px 14px 16px;
  box-shadow: none;
  overflow-y: scroll;
  }

  

 

  .leaveContainer {
    justify-content: center;
  }

  .leaveContainer .name {
    width: 343px;
    height: 48px;
    padding: 12px 15px;
    margin-bottom: 8px;
  }

  .leaveContainer .noteText {
    width: 343px;
    height: 48px;
    padding: 12px 15.4px;
    margin-bottom: 8px;
  }

  .leaveContainer .noteBtnContainer {
    justify-content: center;
    padding: 0;
  }

  .leaveContainer .noteBtnContainer button {
    width: 343px;
    height: 48px;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 19.6px;
    letter-spacing: 0.98px;
    background: #D8E2EFCC;
    border: 1px #585858 solid;
  }

  .leaveContainer .noteBtnContainer.active button {
    background: #FEE0E1;
  }

  .succesNotes {
    width: 343px;
    height: 96px;
    padding: 12px;
  }

  
}
