

.container {
  background: #fff;
  /* overflow-x: hidden; */
}



main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container {
  width: 1139.089px;
  height: 760px;
  flex-shrink: 0;
  background: url("/images/press/CorkBoard.png") no-repeat center center;
  background-size: cover;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
}

.mobilBackground{
  display: none;
}

.board-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.board-title .title {
  background-color: #fff;
  width: 328px;
  height: 92px;
  background: url("/images/press/staples.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-title .title h3 {
  margin: 0;
  font-size: 57px;
  font-family: Zilla Slab;
  font-weight: 600;
  line-height: 62.7px;
  word-wrap: break-word;
}

.grid-board {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-container{
  width: calc(222px * 4 + 20px * 3);
  display: flex;
  flex-wrap: wrap; /* Flex öğelerinin birden fazla satırda yer almasını sağlar */
  justify-content: start; 
  align-items: flex-start; /* İçeriği dikeyde başa hizalar */
  margin: 0 auto; /* Ortalamak için */
  background-color: transparent;
  gap: 20px; 
}

.grid-area {
  width: 222px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.greenpin1 {
  width: 33px;
  height: 48px;
}
.greenpin2 {
  width: 46px;
  height: 47px;
}
.greenpin3 {
  width: 37px;
  height: 41px;
}
.greenpin4 {
  width: 32px;
  height: 43px;
}

.grid-area img {
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
}

.grid-area p {
  width: 188px;
  color: #204165;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.press-title{
  text-decoration: underline;
}


.nextButton {
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

.nextButton i {
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/icons/RightArrowForSlayd.svg") no-repeat center center;
}


@media only screen and (max-width:750px) {

  .mainHeader {
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  .mainHeader h1{
    width: 346px;
    height: 50px;
  }

  .container {
    align-items: center;
    height: 1580px;
  }
  
  main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    align-items: start;
  }

  .board-container {
    height: 100%;
    width: 100%;
    background: transparent;
    /* background: url(/images/press/CorkBoardMobilView.png) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    transform: translate(-100px, 40px) rotate(3deg); */

  }

  .mobilBackground{
   
    display: block;
    position: absolute;
    height: 1550px;
    width: 1362px;
    top: -100px;
    left: -100px;
    transform: translateX(-10%) rotate(1deg);
    
  }

  .pressBackgroundImg {
    width: 100%;
    height: 1550px;
  }

  .board-title {
    /* margin-top: 50px; */
    margin-bottom: 55px;
  }

  .board-title .title {
    width: 346px;
    height: 97px;
    background: white;
  }

  .board-title .title h3 {
    font-size: 56px;
    line-height: 62.7px;
    letter-spacing: 1.68px;
    word-wrap: break-word;
  }

  .grid-board{
    width: 100%;
  }

  .grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
    gap: 55px;
  }

  .grid-area {
    width: 346px;
    height: 200px;
   
    margin-bottom: 0;
  }

  .mobile-display{
    display: none;
  }

  .greenpin1 {
    width: 36px;
    height: 51px;
  }

  .greenpin2 {
    width: 50px;
    height: 52px;
  }

  .greenpin3 {
    width: 42px;
    height: 47px;
  }

  .greenpin4 {
    width: 38px;
    height: 48px;
  }

  .grid-area p {
    width: 304px;
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    word-wrap: break-word;
  }

  .press-title{
    text-decoration: none;
  }

  .pressName{
    font-style: italic;
    text-decoration: underline;
  }


  .nextButton {
    display: none;
  }

  .mobilArrow {
    width: 346px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 24px;
  }

  .leftHome{
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #029D7E;
    
  }

  footer nav ul {
    width: 346px;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 24px;
}


}
