.container {
  background: #fff;
  /* overflow-x: hidden; */
}

.mainHeader h1 a {
  color: #204165;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.calculator-container {
  width: 555px;
  height: 721px;
  flex-shrink: 0;
  background: url("/images/produce/calculator.png") no-repeat center center;
  background-size: cover;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
}

.calculator-screen {
  position: absolute;
  width: 393px;
  left: 77px;
  top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boobsScreen {
  display: none;
  position: absolute;
  width: 252px;
  height: 65px;
  right: 76px;
  top: 120px;
}

.boobsScreen img {
  width: 100%;
}

.calculator-screen .title {
  width: 284px;
  height: 88px;
}

.calculator-screen .eMailDisplay {
  width: 65px;
  height: 50px;
  margin-bottom: 24px;
  margin-top: 13px;
}

.calculator-screen .title img,
.calculator-screen .eMailDisplay img {
  width: 100%;
}

.calculator-container .result {
  width: 344px;
  height: 124px;
  background: #ffc538;
  border-radius: 8px;
  margin: 0;
  padding: 28px 37px;
  position: absolute;
  bottom: 47px;
  right: -15px;
  transform: translateX(100%);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: start;
}

.result.active{
  display: flex;
}

.mobilResult{
  display: none;
}

.calculator-container .result p,
.calculator-container .result a {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 26.1px;
  word-wrap: break-word;
}

.calculator-container .result a {
  color: #204165;
  text-decoration: underline;
}

.mobilArrow{
  display: none;
}


@media only screen and (max-width:750px) {
  .container {
    justify-content:start;
    overflow-x: hidden;
  }

  main{
    margin-top: 32px;
  }
  

  .calculator-container {
    width: 360px;
    height: 468px;
    flex-shrink: 0;
  }

  .calculator-screen {
    display: flex;
    position: absolute;
    width: 254px;
    left: 50px;
    top: 73px;
  }

  .calculator-screen .title {
    width: 184px;
    height: 57px;
  }

  .calculator-screen .eMailDisplay {
    width: 42px;
    height: 32px;
    margin-bottom: 16px;
    margin-top: 9px;
  }

  .boobsScreen {
    display: none;
  }

  .calculator-container .result {
    display: none;
    
  }

  .mobilResult {
    width: 342px;
    height: 96px;
    border-radius: 10px;
    padding: 25px 28px 24px 29px;
    background: #ffc538;
    box-sizing: border-box;
    margin: 17px 2px 0 24px;
    color: #204165;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    text-align: left;
  }

  .mobilResult.active{
    display: block;
  }

  .mobilResult span, .mobilResult a {
    text-decoration: underline;
     color: #204165;
  }

   .mobilArrow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 24px 0 28px;
    padding: 0 16px;
  }

  .leftHome{
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #029D7E;
    
  }

  .leftHome i {
    color: #E3FCF8;
    font-size: 40px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  footer {
   width: 100%;
  }

   footer nav {
    width: 100%;
  }

}
