body,
html {
  height: max-content;
}

.pinkMode,
.pinkMode a,
.pinkMode button {
  color: #E44E52;
}

.container {
  min-height: 100vh;
  justify-content: start;
  transition: background-color 0.5s ease-in-out;
}


.leftMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 156px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 32px;
  bottom: 60px;
}

.menuItem {
  width: 160px;
  height: 42px;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 1.44px;
  word-wrap: break-word;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: Gaegu;
  gap: 16px;
}

.sectionContainer .compatibilityContainer {
  width: 712px;
  height: 641px;
  border-radius: 8px;
  border: 2px solid #016F59;
  overflow: hidden;
  position: relative;
}

.pinkMode .sectionContainer .compatibilityContainer {
  border: 2px solid #E44E52;
}

.compatibilityContainer .compatibilityHeader {
  background: #029D7E;
  border: 2px rgba(1, 111, 89, 0.00);
  color: #F7FAFD;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 18px */
  letter-spacing: 0.36px;
  padding: 14px 0;
}

.pinkMode .compatibilityContainer .compatibilityHeader {
  background: #E44E52;
  border: 2px #CA6D70;
}

.compatibilityContainer .compatibilityRow {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 48px;
}

.compatibilityContainer .compatibilityRow.active {
  display: flex;
}

.compatibilityContainer .compatibilityRow .compatibilityTitle,
.compatibilityContainer .formRow .compatibilityTitle {
  width: 100%;
  text-align: center;
  font-family: "Zilla Slab";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  /* 64.4px */
  letter-spacing: 1.68px;
  margin-bottom: 48px;
}

.compatibilityRow .compatibilityText {
  width: 462px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.compatibilityRow .compatibilityText span {
  width: 100%;
  font-family: "Zilla Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: start;
}

.compatibilityRow .compatibilityText span.bold {
  font-weight: 600;
  line-height: 145%;
  /* 29px */
  margin-bottom: 10px;
}

.compatibilityRow .compatibilityText span.margin {
  margin-bottom: 20px;
}

.compatibilityRow .compatibilityText .list {
  padding-left: 10px;
}

.compatibilityRow .compatibilityText .list.secretLink {
  cursor: pointer;
}

.compatibilityRow .compatibilityText .list.lastList {
  margin-bottom: 48px;
}

.compatibilityRow .btnRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.compatibilityRow .btnRow .buyTicketButton {
  width: 240px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #029D7E;
  background: #029D7E;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.98px;
  text-transform: uppercase;
}

.compatibilityContainer .formRow {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 48px;
}

.compatibilityContainer .formRow.active {
  display: flex;
}

.compatibilityContainer .formRow .compatibilityTitle {
  margin-bottom: 24px;
}

.formRow .formTitle {
  width: 100%;
  font-family: "Zilla Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}

.formRow .formContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
}

.formRow .formContent .form-item {
  width: 402px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 123px;
}

.formContent .form-item label {
  font-family: "Zilla Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 0.2px;
}

.formContent .form-item input,
.formContent .form-item .custom-select {
  width: 280px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #016F59;
  background: rgba(255, 255, 255, 0.50);
  padding: 0 16px;
  color: #016F59;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  outline: none;
}

.formContent .form-item input::placeholder {
  color: rgba(0, 0, 0, 0.50);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form-item .custom-select-content {
  position: relative;
  width: 280px;
  height: 36px;
  overflow: visible;
}

.form-item .custom-select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-item .custom-select.active {
  display: none;
}

.form-item .custom-select .downArrow {

  width: 16px;
  height: 16px;
  background: url("/icons/quiz/vectorQuiz.svg") no-repeat center center;

}



.form-item .custom-select .selectPlaceholder {
  color: rgba(0, 0, 0, 0.50);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 18px */
  cursor: pointer;
}

.form-item .selectUl {
  width: 280px;
  height: 108px;
  border-radius: 8px;
  border: 1px solid #016F59;
  background: #fff;
  color: #016F59;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  outline: none;
  display: none;
  flex-direction: column;
  position: relative;
}

.form-item .singleselect-list.active,
.form-item .multiselect-list.active {
  display: flex;
}

.form-item .selectUl .select-list {
  width: 100%;
  height: 36px;
  color: #016F59;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 4px;

  /* Inter Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.form-item .selectUl.singleselect-list .select-list:hover {
  background-color: #73CDBB4D;
}

.form-item .selectPlaceholder.choosen {
  color: #016F59;

  /* Inter Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.form-item .selectUl .select-list.border-list {
  border-top: 1px solid #016F59;
  border-bottom: 1px solid #016F59;
}

.form-item .selectUl .select-list .checkbox {
  width: 24px;
  height: 16px;
  border-radius: 30px;
  border: 1px solid #006150;
  background: rgba(255, 255, 255, 0.70);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.form-item .selectUl .select-list .checkbox img {
  display: none;
}

.form-item .selectUl .select-list .checkbox.selected img {
  display: inline;
}

.form-item .selectUl .select-list .list-item {
  width: 100%;
  text-align: left;
}

.form-item .selectUl .upArrow {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url("/icons/quiz/vextorQuizUp.svg") no-repeat center center;
}

.form-item.button-content {
  justify-content: end !important;
}

.form-item .btnBegin {
  width: 280px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #029D7E;
  background: rgba(2, 157, 126, 0.50);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.98px;
  text-transform: uppercase;
  pointer-events: none;
}

.form-item .btnBegin.active {
  pointer-events: visible;
  border: 1px solid #029D7E;
  background: #029D7E;
  cursor: pointer;
}

.compatibilityContainer .questions-container {
  font-family: "Zilla Slab";
  width: 100%;
  display: none;
  justify-content: center;
  margin-top: 64px;
}

.compatibilityContainer .questions-container.active {
  display: flex;
}

.questions-container .question-row {
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.questions-container .question-row .questionForm {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.questions-container .question-row .questionNumberContent {
  color: #029D7E;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  /* 29px */
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  text-align: left;
}

.pinkMode .questions-container .question-row .questionNumberContent {
  color: #E44E52;
}

.questions-container .questionForm .question-content {
  margin-bottom: 56px;
  display: none;
}

.questions-container .questionForm .question-content.active {

  display: block;
}



.questions-container .questionForm .question-text {

  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 46.8px */
  text-align: start;
  margin-bottom: 40px;
}



.questionForm .answer-list {
  padding-left: 24px;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
}

.question-row .questionForm .answer-list .answer-item {
  display: flex;
  gap: 23px;
}

.answer-list .answer-item .answer-checkbox {
  width: 53.523px;
  height: 28.986px;
  border-radius: 30px;
  border: 1px solid #006150;
  background: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  letter-spacing: 0.2px;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.pinkMode .answer-list .answer-item .answer-checkbox {
  border: 1px solid #E44E52;
}

.answer-list .answer-item .answer-checkbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.answer-list .answer-item .answer-checkbox.selected img {
  display: inline;
}

.answer-list .answer-item .answer-text {
  color: #016F59;
  font-family: "Zilla Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  letter-spacing: 0.2px;
}

.pinkMode .answer-list .answer-item .answer-text {
  color: #E44E52;
}

.question-row .questionForm .answer-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.questionForm .answer-button-content .next-question-button {
  width: 280px;
  height: 48px;
  border-radius: 8px;
  border: 0px solid #029D7E;
  background: rgba(1, 111, 89, 0.50);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;

  /* Dropdown */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.98px;
  text-transform: uppercase;
  pointer-events: none;
}

.questionForm .answer-button-content .next-question-button.active {
  pointer-events: visible;
  background: #029D7E;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

}

.questionForm .answer-button-content .next-question-button.active:hover {

  border: 1px solid #E44E52;

  background: #E44E52;
}

.questionForm .answer-button-content .back-question-button {
  display: none;
  border: none;
  outline: none;
  background: none;
  color: #016F59;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  cursor: pointer;
}

.pinkMode .answer-button-content .back-question-button {
  color: #E44E52;
}


.questionForm .answer-button-content .back-question-button.active {
  display: inline;
}

.questions-container .question-bar {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  align-items: center;
  justify-content: start;
  width: 688px;
  height: 16px;
  border-radius: 8px;
  border: 2px solid #E3FCF8;
  background: rgba(255, 255, 255, 0.70);
}

.questions-container .question-bar.active {
  display: flex;
}

.pinkMode .questions-container .question-bar {
  border: none;
}

.questions-container .question-bar .bar-item {
  /* width: 68.8px; */
  height: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0px solid #E3FCF8;
  background: #029D7E;
}


.pinkMode .questions-container .question-bar .bar-item {

  background: #E44E52;
}

.compatibilityContainer .quizComplete-row {
  width: 100%;
  min-height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: "Zilla Slab";
}

.compatibilityContainer .quizComplete-row.active {
  display: flex;
}

.quizComplete-row .complate-content {
  width: 592px;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.quizComplete-row .complate-content .complete-title {

  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  /* 64.4px */
  letter-spacing: 1.68px;
  margin-bottom: 32px;
}

.quizComplete-row .complate-content .complete-text {
  width: 466px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  gap: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  letter-spacing: 0.2px;
  margin-bottom: 80px;
}

.quizComplete-row .complate-content .yayBtnRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizComplete-row .complate-content .yayBtnRow .yayBtn {
  width: 280px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #029D7E;
  background: #029D7E;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* Dropdown */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.98px;
  text-transform: uppercase;
}

.sectionContainer .timerContainer {
  width: 712px;
  height: 109px;
  border-radius: 8px;
  border: 2px solid #016F59;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pinkMode .sectionContainer .timerContainer {

  border: 2px solid #E44E52;
}

.timerContainer .timerLabel {
  color: rgba(0, 97, 80, 0.80);
  text-align: center;
  font-family: "Zilla Slab";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.14px;
}

.pinkMode .timerContainer .timerLabel {
  color: #E44E52;
}

.timerContainer .timer {
  color: #006150;

  /* Zilla Body Small */
  font-family: "Zilla Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.pinkMode .timerContainer .timer {
  color: #E44E52;

}


@media screen and (max-width: 750px) {

  .leftMenu{
    display: none;
  }



  .sectionContainer {
    width: 100%;
    padding: 0 7px;
    gap: 7.5px;
    margin-bottom: 32px;
    margin-top: 90px;
  }

  .sectionContainer .compatibilityContainer {
    width: 100%;
    height: 538px;
  }

  .sectionContainer .compatibilityContainer.mobileQuestion {
    height: 600px;
  }

  .compatibilityContainer .compatibilityHeader {

    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.3px;
    padding: 17px 0;
  }

  .compatibilityContainer .compatibilityRow {

    margin-top: 17px;
  }

  .compatibilityContainer .compatibilityRow .compatibilityTitle,
  .compatibilityContainer .formRow .compatibilityTitle {

    font-size: 30px;
    line-height: 108%;
    margin-bottom: 36px;
  }

  .compatibilityRow .compatibilityText {
    width: 296px;
  }

  .compatibilityRow .compatibilityText span {

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.18px;
  }

  .compatibilityRow .compatibilityText span.bold {

    line-height: 130%;
  }

  .compatibilityRow .compatibilityText .list.secretLink span {
    text-decoration: underline;
  }

  .compatibilityRow .btnRow .buyTicketButton {
    width: 321px;
  }

  .compatibilityContainer .formRow {

    margin-top: 17px;
  }

  .compatibilityContainer .formRow .compatibilityTitle {

    margin-bottom: 16px;
  }

  .formRow .formTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.18px;
    margin-bottom: 24px;
  }



  .formRow .formContent {
    gap: 0;
  }

  .formRow .formContent .form-item {
    width: 100%;
    margin-left: 0;
    padding-left: 29px;
    padding-right: 14px;
    margin-bottom: 8px;
  }

  .formRow .formContent .form-item.mobile-margin {
    margin-bottom: 23px;
  }

  .formContent .form-item label {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.18px;
  }

  .formContent .form-item input,
  .formContent .form-item .custom-select {
    width: 230px;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
  }

  .formContent .form-item input::placeholder {
    font-size: 12px;
  }

  .form-item .custom-select-content {
    width: 230px;
    height: 40px;
  }

  .form-item .selectPlaceholder {
    font-size: 12px;
  }

  .form-item .selectPlaceholder.choosen {
    font-size: 14px;
  }

  .form-item .custom-select .downArrow {
    width: 16px;
    height: 16px;
    background: url(/icons/quiz/vectorQuizMobile.svg) no-repeat center center;
  }

  .form-item .selectUl .upArrow {
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(/icons/quiz/vectorQuizUpMobile.svg) no-repeat center center;
  }

  .form-item .selectUl {
    width: 230px;
    height: 120px;
    font-size: 14px;
  }

  .form-item .selectUl .select-list {

    height: 41px;
    padding: 0 10px;
    font-size: 14px;
  }

  .form-item.button-content {
    justify-content: end !important;
  }


  .form-item .btnBegin {
    width: 321px;
    height: 48px;
  }

  .compatibilityContainer .questions-container {
    margin-top: 48px;
    padding: 0 25px;
  }

  .questions-container .question-row {
    width: 100%;
  }

  .questions-container .question-row .questionNumberContent {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.16px;
  }

  .questions-container .questionForm .question-content {
    margin-bottom: 32px;
  }

  .questions-container .questionForm .question-text {
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.24px;
    margin-bottom: 25px;
  }

  .questionForm .answer-list {
    padding-left: 0;
    gap: 18px;
  }

  .question-row .questionForm .answer-list .answer-item {
    gap: 12px;
    align-items: start;
    justify-content: start;
  }

  .answer-list .answer-item .answer-checkbox {
    width: 48.8px;
    height: 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .answer-list .answer-item .answer-text {
    text-align: left;
    display: flex;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.18px;
  }

  .questionForm .answer-button-content .next-question-button {
    width: 321px;
  }

  .questions-container .question-bar.active {
    width: 100%;
  }

  .compatibilityContainer .quizComplete-row {
    align-items: start;
    justify-content: center;
  }

  .quizComplete-row .complate-content {
    margin-top: 41px;

    width: 100%;
    height: 100%;
    padding: 0 25px;
  }

  .quizComplete-row .complate-content .complete-title {

    font-size: 48px;
    letter-spacing: 1.44px;
    margin-bottom: 32px;
  }

  .quizComplete-row .complate-content .complete-text {
    width: 100%;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.18px;
    margin-bottom: 27px;
  }

  .quizComplete-row .complate-content .yayBtnRow .yayBtn {
    width: 321px;
  }



  .sectionContainer .timerContainer {
    width: 100%;
    height: 98px;
  }

  .sectionContainer .timerContainer.mobileQuestion {
    display: none;
  }

  .timerContainer .timerLabel {
    color: #006150;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.16px;
  }

  .timerContainer .timer {
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.16px;
  }


}