

body,
html {
  height: max-content;
}

.container{
  min-height: 100vh;
  justify-content: start;
  transition: background-color 0.5s ease-in-out;
  background: url("/images/scratch/d33280d5e97b50097567815d3d373358.jpeg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  text-align: unset;
  position: relative;
}

.container .xEquality {
  position: absolute;
  display: block;
  right: 332px;
  top: -34px;
  width: 169px;
  height: 200px;
  box-sizing: border-box;
}

.container .lovequetion {
  position: absolute;
  display: block;
  right: 52px;
  top: 12px;
  transform: rotate(49.148deg);
  width: 190px;
  height: 110px;
  box-sizing: border-box;
}
.backWelcomePage{
  display: none;
  width: 150px;
  height: 48px;
  position: absolute;
  bottom: 5px;
  left: 16px;
  color: rgba(0, 0, 0, 0.50);

/* Inter Body */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}


.mainHeader {
  /* margin-bottom: 28px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainHeader h1 a {
  color: #585858;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main {
  position: relative;
}

.sectionContainer {
  display: flex;
  width: 100%;
  margin-top: 46px;
  align-items: start;
  justify-content: center;
  gap: 12px;
  margin-bottom: 85px;
}

.sectionContainer .watchContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1156px;
}

.watchContainer .watch-title-content h3{
  color: rgba(61, 61, 61, 0.90);
text-align: center;

/* Gaegu Header 1 */
font-family: Gaegu;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 63.8px */
}

.watchContainer .watch-title-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}


.watchContainer .watch-video-content{
  width: 1156px;
height: 677px;
background: #D9D9D9;
display: flex;
align-items: center;
justify-content: center;
}


.watch-video-content .playIcon {
  display: none;
  width: 84px;
  height: 78px;
  background: url("/icons/watchLivestream/Polygon7.svg") no-repeat center center;
}



.sectionContainer .scratchContainer{
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: auto 0 0 0;
}

.scratchContainer .section-title-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.scratchContainer .section-title-content h3{
  color: rgba(61, 61, 61, 0.90);
text-align: center;
display: flex;
height: 27px;
/* Mobile Gaegu Header 3 */
font-family: Gaegu;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 132%; /* 29.4px */

}

.scratchContainer .messageBox-content{
  width: 100%;
  height: 464px;
  padding: 24px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  gap: 12px;
  border: 1px solid rgba(61, 61, 61, 0.90);
  background: rgba(244, 244, 244, 0.70);
  overflow-y: scroll;
  margin-bottom: 12px;
}

.scratchContainer .messageBox-content::-webkit-scrollbar {
  width: 24px; /* Scroll bar genişliği */
}

.scratchContainer .messageBox-content::-webkit-scrollbar-thumb {
  
  border: 8px solid transparent;
  
}

.scratchContainer .messageBox-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.10); /* Scroll bar rengi */
  border-radius: 50px;
  background-clip: content-box; /* İçerik kutusu ile uyumlu */
}




.scratchContainer .messageBox-content p{
  width: 100%;
  color: #3D3D3D;
/* Inter Body */
font-family: Inter;
font-size: 15.5px;
font-style: normal;
font-weight: 400;
line-height: 145%; /* 24px */
}

.scratchContainer .messageBox-content p .autor{
  font-weight: 600;
}

.scratchContainer .write-content{
  width: 100%;
  height: 142px;
  margin-bottom: 12px;
}

.scratchContainer .write-content textarea{
  width: 100%;
  height: 142px;
  border-radius: 8px;
border: 1px solid #585858;
outline: none;
color: rgba(0, 0, 0, 0.80);
background: rgba(244, 244, 244, 0.70);
padding: 12px 24px;
/* Inter Body */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
resize: none;
}

.scratchContainer .write-content input::placeholder{
  color: rgba(0, 0, 0, 0.30);
}

.scratchContainer .submitBtn-content{
  width: 100%;
}

.submitBtn-content .submit-btn{
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(228, 78, 82, 0.00);
  background: rgba(88, 88, 88, 0.50);
  color: #FFF;
  text-align: center;
  cursor: pointer;
  /* Dropdown */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.98px;
  text-transform: uppercase;
}

.submitBtn-content .submit-btn.active{
  background: #585858;
}

@media screen and (max-width: 750px) {

  .container .lovequetion {
    display: none;
}

.container .xEquality {
  right: -15px;
  top: -70px;
  width: 150px;
  height: 177px;
  box-sizing: border-box;
}

.backWelcomePage.active{
  display: flex;
  justify-content: start;
  align-items: center;
}


  


  .mainHeader h1 {
    margin-top: 23px;
    margin-left: 24px;
    font-size: 16px;
    font-family: Zilla Slab;
    font-weight: 700;
    line-height: 20.8px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
  }

  .sectionContainer{
    margin-top: 36.24px;
    flex-direction: column;
    margin-bottom: 0;
  }

  .sectionContainer .watchContainer {
    width: 100%;
    padding: 0 16px;
}

  .watchContainer .watch-title-content h3 {
    font-size: 28px;
    line-height: 105%;
}
.watchContainer .watch-video-content {
  width: 100%;
  height: 200px;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-video-content .playIcon {
  display: block;
}

  .sectionContainer .scratchContainer {
    width: 100%;
    padding: 0 16px;
  }

  .scratchContainer .section-title-content {
    display: none;
  }

  .scratchContainer .messageBox-content {
    height: 276px;
    padding: 25px;
    padding-right: 0;
    gap: 12px;
    margin-bottom: 8px;
  }

  .scratchContainer .messageBox-content p {
   font-size: 16px;
    line-height: 150%;
}

  .scratchContainer .messageBox-content p .autor{
    font-weight: 700;
  }


  .scratchContainer .write-content {
    height: 48px;
    margin-bottom: 8px;
}

  .scratchContainer .write-content .fieldMessage{
    height: 48px;
  }

  .scratchContainer .write-content .fieldMessage::placeholder{
    color: rgba(0, 0, 0, 0.50);
  }

  .scratchContainer .submitBtn-content {
    margin-bottom: 60px;
  }


}